<div class="jumbotron">
  <h2>Welcome to a Phoenix 1.3 Authentication Demo</h2>
  <p class="lead">
    This site uses <a href="https://github.com/ueberauth/guardian" target="_blank">Guardian</a> and <a href="https://github.com/riverrun/comeonin" target="_blank">comeonin</a> to provide a simple login/logout functionality.
  </p>
</div>
